[run]
branch = true
source = ./tests/unit_tests/*
omit = ./tests/unit_tests/__pycache__
data_file = ./tests/coverage_report/data.coverage

[report]
omit = ./tests/*

[html]
directory = ./tests/coverage_report/html_coverage
skip_covered = false